* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(255, 249, 243);
}

h1 {
    color: rgb(161, 18, 27);
    margin-bottom: 20px;
}

h2 {
    color:rgb(161, 18, 27)
}

#links {
    margin: 0;
    padding: 0;
}

#links li {
    list-style: none;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 5px;
}

.reciepe-link {
    color: hsl(40, 80%, 62%);
    background-color: rgb(161, 18, 27);
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 3px;
}

.homepage-link {
    display: block;
    margin-bottom: 20px;
    color: hsl(40, 52%, 40%);
}